.dataCell {
  display: flex;
  flex-direction: column;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;

}

.secondRowCell {
  font-size: 14px;
  color: #8a8a8a;
  opacity: 90%;
}

.dataEllipsis {
  display: flex;
  flex-direction: column;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}
