.table {
  border-collapse: collapse;
  width: 80%;
  margin: 5px auto;

  .tableTH {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

}
